/* #region Color Palette */
:root {
    --fr-primary: rgba(26, 188, 156, 1);
    --fr-secondary: rgba(44, 62, 80, 1);
    --fr-tertiary: rgba(58, 84, 109, 1);
}

/* #endregion Color Palette */

/* #region Debug */
.debug {
    /* & * {
        border: 1px dashed;
    } */

    & header {
        /* background-color: blue; */

        /* .row>div {
            background-color: aqua;
        }

        .row>div:first-child {
            & div {
                height: 3rem;
                width: 9rem;
                background-color: brown;
            }
        }

        .row>div:last-child {
            & div {
                height: 3rem;
                width: 3rem;
                background-color: brown;
            }
        }
        */
    }

    & main {
        /*    #contact_me {

            .section_title {
                width: 6rem;
                height: 3rem;
                background-color: blueviolet;
            }

            & form {
                height: 6rem;
                width: 12rem;
                background-color: cadetblue;
            }
        } */
    }

    & footer {

        .top {
            background-color: darkgreen;

            .adress,
            .social,
            .freelancer {
                height: 2rem;
                background-color: darkgoldenrod;
            }
        }

        .bottom {
            background-color: darkred;

            >.copyright {
                width: 3rem;
                height: 2rem;
                background-color: darkkhaki;
            }
        }
    }

}

/* #endregion Debug */

/* #region Common */
h1 {
    font-weight: 700;

    @media screen and (min-width:768px) {
        font-size: 3rem;
    }
}

/* #endregion Common */

/* #region Utilities */
.line {
    display: inline-block;
    padding: 1.5px;
    border-radius: 20px;
}

/* #endregion Utilities */

/*#region Header section */
header {
    background-color: var(--fr-secondary);
}

/*#endregion Header section */

/* #region Main section */
#jumbotron {
    background-color: var(--fr-primary);

    .jumbo_img {
        width: 12rem;
        aspect-ratio: 1;
    }

    .line {
        width: 15%;
        background-color: white;
    }
}

#portfolio {

    .line {
        width: 10%;
        background-color: var(--fr-secondary);
    }
}

#about {
    background-color: var(--fr-primary);

    .line {
        width: 5%;
        background-color: white;
    }
}

#contact_me {

    .line {
        width: 5%;
        background-color: var(--fr-secondary);
    }

    .btn_bg{
        background-color: var(--fr-primary);
    }
}

/* #endregion Main section */