/* #region Color Palette */
:root {
    --fr-primary: rgba(26, 188, 156, 1);
    --fr-secondary: rgba(44, 62, 80, 1);
    --fr-tertiary: rgba(58, 84, 109, 1);
}

/* #endregion Color Palette */

/* #region Common */
h1 {
    font-weight: 700;

    @media screen and (min-width:768px) {
        font-size: 3rem;
    }
}


/* #endregion Common */

/* #region Utilities */
.line {
    display: inline-block;
    padding: 1.5px;
    border-radius: 20px;
}

/* #endregion Utilities */

/*#region Header section */
header {
    background-color: var(--fr-secondary);
}
/*#endregion Header section */

/* #region Main section */
#jumbotron {
    background-color: var(--fr-primary);

    .jumbo_img {
        width: 12rem;
        aspect-ratio: 1;
    }

    .line {
        width: 15%;
        background-color: white;
    }
}

#portfolio {

    .line {
        width: 10%;
        background-color: var(--fr-secondary);
    }
}

#about {
    background-color: var(--fr-primary);

    .line {
        width: 5%;
        background-color: white;
    }
}

#contact_me {

    .line {
        width: 5%;
        background-color: var(--fr-secondary);
    }

    .btn_bg{
        background-color: var(--fr-primary);
    }
}
/* #endregion Main section */

/* #region Footer section */
footer{

    .top{
        background-color: var(--fr-tertiary);
        font-size: 0.8rem;

        & i{
            width: 2rem;
            height: 2rem;
        }
    }

    .bottom{
        background-color: var(--fr-secondary);
        font-size: 0.6rem;
    }
}
/* #endregion Footer section */