/* #region Color Palette */

/* #endregion Color Palette */

/* #region Debug */
.debug {
    & * {
        border: 1px dashed;
    }

    & header {
        background-color: blue;

        .row>div {
            background-color: aqua;
        }

        .row>div:first-child {
            & div {
                height: 3rem;
                width: 9rem;
                background-color: brown;
            }
        }

        .row>div:last-child {
            & div {
                height: 3rem;
                width: 3rem;
                background-color: brown;
            }
        }
    }

    & main {
        #jumbotron {
            background-color: chocolate;

            .img,
            .description {
                width: 6rem;
                height: 6rem;
                background-color: lightsalmon;
            }

            .description>div {
                width: 4rem;
                height: 2rem;
                background-color: beige;
            }
        }

        #portfolio {
            .section_title {
                width: 6rem;
                height: 3rem;
                background-color: blueviolet;
            }

            .card {
                height: 6rem;
                background-color: red;
            }

        }

        #about {
            background-color: aqua;

            .section_title {
                width: 6rem;
                height: 3rem;
                background-color: blueviolet;
            }

            .container_s>div:last-child {
                width: 3rem;
                height: 2rem;
                background-color: black;
            }
        }

        #contact_me {

            .section_title {
                width: 6rem;
                height: 3rem;
                background-color: blueviolet;
            }

            & form {
                height: 6rem;
                width: 12rem;
                background-color: cadetblue;
            }
        }
    }

    & footer {

        .top {
            background-color: darkgreen;

            .adress,
            .social,
            .freelancer {
                height: 2rem;
                background-color: darkgoldenrod;
            }
        }

        .bottom {
            background-color: darkred;

            >.copyright {
                width: 3rem;
                height: 2rem;
                background-color: darkkhaki;
            }
        }
    }

}

/* #endregion Debug */

/* #region Utilities */
.container_s {
    width: 80%;
}

/* #endregion Utilities */